<section id="experiences" class="section" style="background: var(--bg-secondary);">
    <div class="container">
        <div class="section-header text-center">
            <h2>Professional Experience</h2>
            <p>My journey through various roles and impactful projects</p>
        </div>
        <div class="services-grid">
            <div class="service-card">
                <div class="service-icon logo-icon">
                    <a href="https://www.revolite.io/home" target="_blank" rel="noopener noreferrer">
                        <img src="assets/logos/revolite_logo.png"
                            alt="Revolite Logo" />
                    </a>
                </div>
                <h3>Software Developer</h3>
                <p><strong>Revolite Infotech Pvt. Ltd.,</strong></p>
                <p>Dec 2022 – Nov 2024</p>
                <ul class="service-features">
                    <li><strong>Prodigy Marine Solution:</strong> Online Marine Procurement Platform
                        ( Backend Developer - ASP.NET Core Web API, Entity FrameWork, PostGresSQL, AWS S3, AWS SES.)
                    </li>
                    <li><strong>FinTech Portal FSRA:</strong> Data Workflow Management System (Backend Developer - .NET
                        Core , ASP.NET Core Web API, Dapper, MS SQL, Azure Storage,
                        xUnit Testing)</li>
                    <li><strong>Schoomin:</strong> School Management System (Full Stack Developer - Angular Framework,
                        ASP.NET Core Web API, Entity Framework,
                        AWS S3, PostGreSQL, Worker Service)</li>
                </ul>
                <p><em>Total Experience: Around 2 years</em></p>
            </div>

            <div class="service-card">
                <div class="service-icon logo-icon">
                    <a href="https://www.agilysys.com/en/" target="_blank" rel="noopener noreferrer">
                        <img src="assets\logos\agilysys-logo.png"
                            alt="Agilysys Logo" />
                    </a>
                </div>
                <h3>Associate Software Analyst</h3>
                <p><strong>Agilysys Technologies India Private Limited</strong></p>
                <p>Nov 2024 – Present</p>
                <ul class="service-features">
                    <li><strong>PMS Add-On:</strong> SPA (Full Stack Developer - Angular Framework, ASP.NET Core Web
                        API, Entity Framework,
                        Azure, MS SQL, Jenkins)</li>
                </ul>
                <!-- <p><em>Experience: 6 months</em></p> -->
            </div>

        </div>
    </div>
</section>