
    <section id="about" class="section">
      <div class="container">
        <div class="section-header text-center">
          <h2>About Me</h2>
          <p>Get to know more about my background and expertise</p>
        </div>
        
        <div class="about-content">
          <div class="about-text">
            <h3>Creative Developer with a Passion for Innovation</h3>
            <p>
              With over 3+ years of experience in web development, I specialize in 
              creating digital experiences that are not only visually stunning but also highly 
              functional and user-friendly.
            </p>
            <p>
              My expertise spans across modern web technologies like Angular Framework, .net core and project 
              management. I believe in the power of clean code, thoughtful design, and 
              collaborative teamwork to deliver exceptional results.
            </p>
            
            <div class="skills-grid">
              <div class="skill-item">
                <h4>Frontend Development</h4>
                <p>HTML, CSS, JavaScript, Angular,TypeScript</p>
              </div>
              <div class="skill-item">
                <h4>Backend Development</h4>
                <p>.NET Core, ASP.NET Core Web API, MS SQL, PostgreSQL</p>
              </div>
              <div class="skill-item">
                <h4>Design & UX</h4>
                <p>Figma</p>
              </div>
              <div class="skill-item">
                <h4>Tools & Others</h4>
                <p>Git, Jenkins, Azure, AWS, Agile, Scrum</p>
              </div>
            </div>
          </div>
          
          <div class="about-stats">
            <div class="stat-item">
              <div class="stat-number">
                <p>3+<p></div>
              <div class="stat-label"><p>Worked Projects<p></div>
            </div>
            <div class="stat-item">
              <div class="stat-number">
                <p>3+<p></div>
              <div class="stat-label"><p>Years Experience<p></div>
            </div>
            <!-- <div class="stat-item">
              <div class="stat-number">30+</div>
              <div class="stat-label">Happy Clients</div>
            </div> -->
            <!-- <div class="stat-item">
              <div class="stat-number">24/7</div>
              <div class="stat-label">Support</div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
<!-- End of About Section -->